<form #authForm="ngForm" (ngSubmit)="Submit(authForm)" class="container mt-5">

<div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      required
      email
      #emailField="ngModel"
      class="form-control"
      [ngClass]="{'invalid-border': emailField.invalid && (emailField.dirty || emailField.touched)}">
    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
    <small *ngIf="emailField.errors?.['required']">Email est requis.</small>
    <small *ngIf="emailField.errors?.['email']">Email non valide.</small>
  </div>
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      required
      minlength="4"
      #passwordField="ngModel"
      class="form-control"
      [ngClass]="{'invalid-border': passwordField.invalid && (passwordField.dirty || passwordField.touched)}">
    <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
      <small *ngIf="passwordField.errors?.['required']">Mot de passe est requis.</small>
      <small *ngIf="passwordField.errors?.['minlength']">Mot de passe doit contenir au moins 4 caractères.</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Envoyer</button>
</form>
